body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("recipe-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

.footer {
   position: relative;
   float: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   opacity: 0.6;
   font-family: Avenir;
}
