.button {
  background-color: rgba(0,0,0,0.3);
  font-family: arial;
  font-size: 40px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 7px;
}

@media only screen and (max-width) {
  .button {
    background-color: rgba(0,0,0,0);
  }
}
