.list-group-item {
  background: rgba(0,0,0,0.2);
  border: none;
  color: white;
  font-family: Avenir;
  margin-top: 10px;
  border-radius: 20px;
}

@media only screen and (max-width:500px) {
  .list-group-item {
    background: rgba(0,0,0,0);
  }
}
